div {
	border: 2px solid red;
	padding: 50px;
	margin: 50px;
	text-align: center;
}

h1 {
	font-family: Helvetica;
	color: red;
}

h3 {
	padding: 10px;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 20px;
	padding: 50px;
	border: 2px solid red;
	width: 30%;
	height: 20%;
	margin: 50px;
}

span {
	color: red;
}

.box1 {
	left: 30px;
}