.box{
	padding: 10px;
	border: 2px solid black;
	margin: 10px;
	position: relative;
	display: block;
	float: top;
	text-align: center;
}

.box2 {
	padding: 10px;
	border: 2px solid black;
	margin: 10px;
	position: relative;
	display: inline-block;
	float: top;
	text-align: center;
}

.box3 {
	padding: 10px;
	border: 2px solid black;
	margin: 10px;
	position: relative;
	display: inline-block;
	float: top;
	text-align: center;
}

.box4 {
	padding: 10px;
	border: 2px solid black;
	margin: 10px;
	position: relative;
	display: inline-block;
	float: top;
	text-align: center;
}