div {
	border: 2px solid #00ffff;
	padding: 50px;
	margin: 50px;
	text-align: center;
}

h1 {
	font-family: Helvetica;
	color: #00ffff;
}

h3 {
	padding: 10px;
}

p {
	background-color: ;
	color: #00ccff;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 20px;
	padding: 100px;
	border: 2px solid #00ffff;
	width: 40%;
	height: 30%;
	margin: 50px;
	border-radius: 100%;
}

span {
	color: #ff33cc;
}