body {
	padding: 10px;
	margin: 10px;
	float:;
}

.box {
	text-transform: uppercase;
	font-family: Arial;
	width: 500px;
	height: 100px;
	border: 5px solid black;
	margin: 5px;
	padding: 20px;
	text-align: left;
	background-color: white;
}


.box2 {
	text-transform: capitalize;
	letter-spacing: 2px;
	font-family: sans-serif;
	font-size: 14px;
	line-height: 20px;
	position: right;
	width: 500px;
	height: 130px;
	border: 2px;
	margin: 5px;
	padding: 20px;
	background-color: pink;
}

.box3 {
	position: left;
	line-height: 25px;
	width: 500px;
	height: 180px;
	border: 2px;
	margin: 5px;
	padding: 20px;
	background-color: lightyellow;
}

.box4 {
	width: 500px;
	height: 200px;
	border: 2px;
	margin: 5px;
	padding: 20px;
	background-color: lightgreen;
	line-height: 20px;
	letter-spacing: 3px;
}

.box5 {
	width: 500px;
	height: 350px;
	border: 2px;
	background-color: lightblue;
	margin: 5px;
	padding: 20px;
}

span {
	color: red;
	font-style: italic;
}





